/*
  elm-hot creates an additional div wrapper around the app to make HMR possible.
  This could break styling in development mode if you are using Elm UI.

  More context in the issue:
    https://github.com/halfzebra/create-elm-app/issues/320
*/
[data-elm-hot="true"] {
  height: inherit;
}

body {
  font-family: 'Source Sans Pro', 'Trebuchet MS', 'Lucida Grande', 'Bitstream Vera Sans', 'Helvetica Neue', sans-serif;
  margin: 0;
  text-align: center;
  color: #293c4b;
  /* background-image: linear-gradient(to top, #5ee7df 0%, #b490ca 100%); */
  height: 100vh;
  overflow: hidden;

  background: #a8ff78;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to top, #78ffd6, #a8ff78);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to top, #78ffd6, #a8ff78); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  
}

h1 {
  font-size: 30px;
}

img {
  margin: 20px 0;
  max-width: 200px;
}

.main {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  padding: 2rem;
  height: 100%;
}

.row {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 100%;
  height: 100%;
  margin-bottom: 5px;
  margin-top: 5px;
}

.column {
  display: flex;
  flex-direction: column;
  flex-basis: 100%;
  flex: 1;
}

.card {
  color: blueviolet;
  width: 30%;
  font-size: 80px;
  font-family: 'Lobster', cursive;
  background-color: #3bece1;
  margin-right: 10px;
  border: 0;
  opacity: 1;
  transition: .3s ease-in-out;
}

.card:hover{
  opacity: .5;
}

.bg-transparent {
  background-color: transparent;
}

.space-between {
  justify-content: space-between;
}

.btn {
  height: 20%;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}